.metric-label {
  font-size: 0.95rem;
  font-weight: 500;
}

.metric-value {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 500;
}

.metric-overview-header {
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
}
